//*****************************************************
//*   Variables
//*****************************************************

//*Colors
$primary-color: #272727;
$secondary-color: #ff652f;
$text-color: #eee;

//* Font stacks
$font-family: 'Segoe UI', 'Nunito', Tahoma, Genava, Verdana, sans-serif;

//* Path variables
$main-bgImage-path: '../img/model-1.jpg';

//* MARGINS
$bottom-margin: 1rem;
