//*****************************************************
//*   ABOUT PAGE
//*****************************************************

.about-bgImg-container {
  @include bgImage(50vh, '../img/model-1.jpg');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .about__bio-image {
    text-align: center;
    h2 {
      font-size: 3rem;
      color: $secondary-color;
    }
    p {
      font-size: 1.2rem;
      margin: 2rem;
    }
  }
}

//!grandparent
.about {
  &__container {
    width: 70vw;
    margin: 2rem auto;
  }
  .about__job {
    margin: 1rem;
    background: lighten($primary-color, 10%);
    padding: 1rem;
    border-bottom: 5px solid $secondary-color;

    h2,
    h3 {
      margin: 0.5rem 0;
    }
    h6 {
      margin: 0.3rem 0;
    }
  }
}
