//*****************************************************
//*   CONTACT PAGE
//*****************************************************
.contact-bgImg-container {
  @include bgImage(100vh, $main-bgImage-path);
  nav {
    height: 40vh;
  }
}

.contact {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem 2rem;
    font-size: 1.5rem;
  }
  .text-secondary {
    color: $secondary-color;
  }
}
