//*****************************************************
//*   PROJECT PAGE
//*****************************************************

.project-bgImg-container {
  @include bgImage(40vh, $main-bgImage-path);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .projects__bio-image {
    margin-bottom: 0.5rem;
    text-align: center;
  }
}

.projects {
  &__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 1rem 0rem;
  }

  &__item {
    width: 100%;
    border-bottom: 5px solid $secondary-color;
    cursor: pointer;
    img {
      width: 100%;
    }
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      background: $secondary-color;
      opacity: 0;
      @include transition(1s);
    }

    &:hover::after {
      opacity: 0.7;
    }
  }
}
