//*****************************************************
//*   NAV
//*****************************************************

//* Grandparent class (nav)
.nav {
  padding: 1rem;
  height: 10vh;

  &__list {
    text-align: right;
  }
  &__item {
    display: inline;
    padding-right: 1rem;
  }
  &__link {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;

    @include transition(1s);
    &:hover {
      color: blue;
    }

    &--active {
      color: $secondary-color;
    }
  }
}
